################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GraphQLVue/.vs/GraphQLVue
/GraphQLVue/GraphQLVue/bin
/GraphQLVue/GraphQLVue/obj
/GraphQLVue.Api/.vs/GraphQLVue.Api
/GraphQLVue.Api/GraphQLVue.Api/bin/Debug/net5.0
/GraphQLVue.Api/GraphQLVue.Api/obj
/GraphQLVue.Api/bin/Debug/net5.0
/GraphQLVue.Api/obj
